= form_tag(rails_admin.weekly_leaderboard_path(model_name: 'arcade~winner'), method: 'get', class: 'form-inline') do

  %div.form-group
    %label
      Date
    = text_field_tag :date, nil, class: 'form-control datepicker', data: { default_date: request.params[:date] || Time.now.end_of_week.to_s(:db) }

  %div.form-group
    %label
      Challenge ID
    = text_field_tag :challenge_id, nil, class: 'form-control challenge-filter', data: { default_date: request.params[:challenge_id] || Challenge.first.id }

  %button.btn.btn-primary.mb2{type: "submit"}
    %i.icon-white.icon-ok
    = t("admin.actions.weekly_leaderboard.find")
= render partial: 'leaderboard_table', locals: { type: 'weekly' }

